@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f1;
  --text-color: black;
  --code-editor-style-color: #ea3a4e;
  --code-editor-class-color: #573a1c;
  --code-editor-background: #f1f1f1;
  --code-editor-counter-color: #7B9DA0;
  --code-editor-counter-background: #FCFFFF;
  --code-editor-symbol-color: #4e9bfa;
  --element-background: #5b5b5b;
  --form-background: #202e38;
  --form-top-background: #111827;
  --form-text-color: #ededed;
  --slider-background: #c7c7c7;
  --slider-svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 17L17 7M17 7H7M17 7V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

[data-theme='dark'] {
  --background: #202e38;
  --text-color: #ededed;
  --code-editor-symbol-color: #98a8b5;
  --code-editor-style-color: #4ade80;
  --code-editor-class-color: #60a5fa;
  --code-editor-background: #111827;
  --code-editor-counter-color: #98a8b5;
  --code-editor-counter-background: #1f2937;
  --element-background: #202e38;
  --form-background: #FCFFFF;
  --form-top-background: #f1f1f1;
  --form-text-color: #111827;
  --slider-background: #1e1e1e;
  --slider-svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 17L17 7M17 7H7M17 7V17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

header,
body {
  color: var(--text-color);
  background-color: var(--background);
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

span,
.burger-line,
.burger-background,
.form-top-background,
.form-background,
.form-text,
.editor-background,
.counter-background,
.editor-text,
.counter-color,
.symbol-color,
.class-color,
.style-color,
.emotions-slider-item__btn-icon::before,
.emotions-slider-item__btn-icon::after,
.emotions-slider-item,
.slider-pagination__item,
.element-background {
  transition: all 0.3s ease;
}

.burger-background {
  background-color: var(--background);
}

.burger-line {
  background-color: var(--text-color);
}

.editor-background {
  background-color: var(--code-editor-background);
}

.counter-background {
  background-color: var(--code-editor-counter-background);
}

.editor-text {
  color: var(--text-color);
}

.counter-color {
  color: var(--code-editor-counter-color);
}

.symbol-color {
  color: var(--code-editor-symbol-color);
}

.class-color {
  color: var(--code-editor-class-color);
}

.style-color {
  color: var(--code-editor-style-color);
}

.element-background {
  background-color: var(--element-background);
}

.slider-pagination__item {
  background-color: var(--text-color);
}

.emotions-slider-item {
  background-color: var(--slider-background);
}

.emotions-slider-item__btn-icon::before,
.emotions-slider-item__btn-icon::after {
	background: var(--slider-svg) center center no-repeat;
}

.form-top-background {
  background-color: var(--form-top-background);
}

.form-background {
  background-color: var(--form-background);
}

.form-text {
  color: var(--form-text-color);
}