@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f1;
  --text-color: black;
  --form-background: #f1f1f1;
  --form-text-color: #111827;
  --slider-background: #c7c7c7;
  --slider-svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 17L17 7M17 7H7M17 7V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

[data-theme='dark'] {
  --background: #202e38;
  --text-color: #ededed;
  --form-background: #ededed;
  --form-text-color: #111827;
  --slider-background: #1e1e1e;
  --slider-svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 17L17 7M17 7H7M17 7V17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

body {
  color: var(--text-color);
  background-color: var(--background);
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.emotions-slider-item__btn-icon::before,
.emotions-slider-item__btn-icon::after,
.emotions-slider-item,
.slider-pagination__item,
.element-background {
  transition: all 0.3s ease;
}

.element-background {
  background-color: var(--background);
}

.slider-pagination__item {
  background-color: var(--text-color);
}

.emotions-slider-item {
  background-color: var(--slider-background);
}

.emotions-slider-item__btn-icon::before,
.emotions-slider-item__btn-icon::after {
	background: var(--slider-svg) center center no-repeat;
}