@import url("./globals.css");

.spectacledcoder-toggle-container {
	width: 110px;
	height: 40px;
	margin: auto;
	display: flex;
	border-radius: 20px;
	padding: 2px;
	box-shadow: 3.33px 3.33px 3.33px rgba(16, 16, 16, 0.667), 0px -2.67px 3.33px rgba(32, 32, 32, 0.453), -1.67px -1.67px 5px rgb(17, 17, 17) inset, 5px 5px 16.67px rgb(26, 26, 26) inset;
	transition: background-color 0.5s, box-shadow 0.5s;
}

.spectacledcoder-toggle-border {
	width: 130px;
	height: 40px;
	background-color: rgb(23, 23, 23);
	border-radius: 70px;
	margin: auto;
	display: flex;
	transition: background-color 0.5s, box-shadow 0.5s;
}

.spectacledcoder-toggle {
	margin: auto;
	margin-left: 8px;
	width: 30px;
	height: 30px;
	background-color: rgb(23, 23, 23);
	border: 1px solid rgba(28, 28, 28, 0);
	box-shadow: 3.33px 3.33px 5px rgba(0, 0, 0, 0.312), -3.33px -3.33px 3.33px rgba(30, 30, 30, 0.696), 13.33px -1.67px 1px rgb(255, 255, 255) inset, -0.67px 1.67px 3.33px rgba(23, 23, 23, 0.986) inset;
	border-radius: 50%;
	transition: box-shadow 1s;
}

.animate-roll {
	animation: roll 1.5s forwards;
  }
  
  .animate-rollback {
	animation: rollback 1.5s forwards;
  }

.spectacledcoder-toggle:hover {
	cursor: pointer;   
}

@keyframes roll {
	100% {
		transform: translateX(60px) rotate(360deg);
	}
}

@keyframes rollback { 
	0% {
		transform: translateX(60px) rotate(360deg);
	}
	100% {
		transform: translateX(0px) rotate(0deg);
	}
}

.smooth-button {
	font-size: 16px;
	font-weight: 600;
	color: var(--text-color);
	letter-spacing: 0.10em;
	display: block;
	padding: 15px 10px;
	position: relative;
	cursor: pointer;
}

.smooth-button:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: var(--text-color);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.smooth-button:hover:after { 
	width: 100%; 
	left: 0; 
}

@media (min-width: 768px) {
	.smooth-button {
		padding: 5px 10px;
	}
}